body {
    display: flex;
    margin: 0;
    color: lightgray;
    font-family: sans-serif;
    background-color: rgb(15, 14, 14);
    height: 95vh;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 20%;
}

#linea {
    size: 6;
    width: 80%;
    color: lightgrey;
}

.img-like {
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 8px;
}

.right {
    margin: 0;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, #5f0f81, #000000);
}

.high {
    color: white;
    width: 165vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2em;
    background-color: rgb(15, 14, 14);
    height: 5em;
    width: 100%;
}

.playlist {
    color: lightgray;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.center {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2em;
}

.center i {
    margin-right: 1em;
}

.center button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin-bottom: 1em;
    margin-left: 1em;
}

.sinistra {
    margin-top: 2em;
    margin-left: 2em;
}

#ascolto {
    height: 80px;
    width: 80px;
}

.sinistra {
    display: flex;
    color: white;
}

#album {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar {
    width: 300px;
    height: 6px;
    background: #8c8b8b;
    border-radius: 4px;
    overflow: hidden;
    margin-top: .3em;
    margin-left: .2em;
    margin-right: 1em;
}

.progress {
    width: 20%;
    height: 100%;
    background: #ffffff;
}

.destra {
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
}

.time {
    display: flex;
}

#Home {
    background-color: rgb(248, 248, 203, 0.2);
}

.link {
    text-align: center;
    padding: 4%;
    border: none;
    margin: 3%;
    color: lightgrey;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: rgb(248, 248, 203, 0.2);
}

#image {
    margin: 2em;
    width: 200px;
    height: 200px;
    margin-right: 2em;
}

.high h1 {
    font-size: 4em;
}

#play {
    border: none;
    background-color: #2f7c13;
    border-radius: 50%;
    padding: 1.5em;
}

.shuffle {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
}

.left-option .shuffle {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
}

.left-option {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.right-option {
    margin-right: 1.5em;
}

.option {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.inf {
    display: flex;
    margin-left: 2em;
    width: 90%;
    justify-content: space-between;
}

.inf2 {
    display: flex;
}

#tit{
    margin-left: 5em;
}
.song{
    display: flex;
    width: 85%;
    margin-left: 1em;
    justify-content: space-between;
    background-color: rgb(15,14,14);
    border-radius: 15px;
}
.song-single{
    display: flex;
}
.img-like2{
    height: 70px;
    width: 70px;
    margin: 1em;
}