body {
    display: flex;
    margin: 0;
    color: lightgray;
    font-family: sans-serif;
    background-color: rgb(15, 14, 14);
    height: 95vh;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 20%;
}


.playlist {
    color: lightgray;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#linea {
    size: 6;
    width: 80%;
    color: lightgrey;
}

.circle {
    margin-top: 1em;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#img-like {
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 8px;
}

.right {
    margin: 0;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, #5e0505, #000000);
}

.high {
    width: 165vh;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.high-left {
    margin-left: .5em;
}

#account {
    color: white;
    background-color: black;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    margin-right: 1em;
}

.message {
    color: white;
    margin-left: 1em;
}

.song2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.suggerimenti {
    display: flex;
    margin: 0;
    color: white;
    padding-right: 10%;
    padding-bottom: 0;
    background-color: rgb(15, 14, 14);
    border-radius: 10px;
}

.img {
    width: 60px;
    height: 60px;
    margin-right: 1em;
}

.footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 2em;
    background-color: rgb(15, 14, 14);
    height: 5em;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2em;
}

.center i {
    margin-right: 1em;
}

.center button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin-bottom: 1em;
    margin-left: 1em;
}

.sinistra {
    margin-top: 2em;
    margin-left: 2em;
}

#ascolto {
    height: 80px;
    width: 80px;
}

.sinistra {
    display: flex;
    color: white;
}

#album {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar {
    width: 300px;
    height: 6px;
    background: #8c8b8b;
    border-radius: 4px;
    overflow: hidden;
    margin-top: .3em;
    margin-left: .2em;
    margin-right: 1em;
}

.progress {
    width: 20%;
    height: 100%;
    background: #ffffff;
}

.destra {
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
}

.time {
    display: flex;
}

.rotation {
    display: flex;
    justify-content: space-around;
}
.single-rotation img{
    margin-top: .5em;
}
.single-rotation {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 20%;
    background-color: rgb(15, 14, 14);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#Home{
    background-color: rgb(248, 248, 203, 0.2);
}

.link{
    text-align: center;
    padding: 4%;
    border: none;
    margin: 3%;
    color: lightgrey;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}
.sidebar a:hover{
    background-color: rgb(248, 248, 203, 0.2);
}
#link{
    text-decoration: none;
}
.music{
    background-color: transparent;
}

